@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: auto;
}

.card {
    background: white;
    border-radius: 15px;
    height: 400px;
    width: 350px;
}

.profile-img {
    background: white;
    display: flex;
    justify-content: center;
    margin-top: -52px;
    width: 348px;
}

.bg-pattern-card {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

img {
    border-radius: 50%;
}

.info {
    display: flex;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    margin-top: 20px;
} 

.name {
    font-weight: 700;
}

.age {
    color: hsl(0, 0%, 59%);
    padding-left: 10px;
}

.city {
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

hr {
    border-top: 1px solid lightgray;
    margin: auto;
    margin-top: 40px;
    width: 100%;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-family: 'Kumbh Sans', sans-serif;
    padding-top: 30px;
    text-align: center;
    margin: auto;
}

.stats-number {
    font-size: 20px;
    font-weight: 700;
}

.stats-f {
    margin-left: -20%;
}

.stats-p {
    margin-left: -15%;
}

.stats-f, .stats-l, .stats-p {
    color: hsl(0, 0%, 59%);
    font-size: 13px;
    padding-top: 10px;
}

div .attribution {
    align-items: center;
    display: flex;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}